<!-- Html das regras, tá feio mas é o que deu -->
<section class="container">
  <div>
    <button class="botao" (click)="botaoHome()">Voltar</button>
    <h1 class="titulo">Regras do jogo</h1>
  </div>
  <div>
    <li>O jogo ocorrerá em turnos, sendo cada turno uma interação do jogador e uma interação do inimigo.</li>
    <li>O jogador e o inimigo tem a mesma quantidade de pontos de vida (100).</li>
    <li>O jogador tem 4 botões de interação disponíveis.</li>
  </div>
  <div>
    <div>
      <h2 class="titulo">Ataque Normal</h2>
      <li>O jogador causa um dano no inimigo (5-10 de dano). </li>
    </div>
    <div>
      <h2 class="titulo">Ataque Especial</h2>
      <li>O jogador causa um dano no inimigo (10-20 de dano).</li>
      <li>Ao usar o ataque especial o inimigo tem 50% de chance de ficar atordoado não atacar no próximo turno.</li>
      <li>O ataque especial necessita de no mínimo 2 turnos após utilização para recarregar.</li>
    </div>
    <div>
      <h2 class="titulo">Curar</h2>
      <li> O jogador receberá um aumento nos seus pontos de vida (5-15 pontos de vida).</li>
    </div>
    <div>
      <h2 class="titulo">Desistir</h2>
      <li>O jogo termina e volta para a tela de inicio do jogo</li>
    </div>
  </div>
</section>
